body {
    font: 1em "Helvetica Neue", Helvetica, Arial;
    background-color: #f8f8f8;
    padding-top: 20px;
    color: #444;
}

p {
    text-align: center;
}

.shadow {
    color: #222;
    text-align: center;
    text-shadow: #000000 1px 1px 1px;
}

#pic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #ccc;
}