body {
    font: 1.5em "Helvetica Neue", Helvetica, Arial;
    background-color: #f8f8f8;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    color: #222;
}

.position {
    font-style: italic;
}

.education {
    font-weight: bold;
}

.shadow {
    margin-left: 1em;
    text-shadow: #000000 1px 1px 1px;
}

.pic {
    float: right;
    margin-right: 7em;
    padding-left: 1em;
}
