body {
    font: 1em "Helvetica Neue", Helvetica, Arial;
    background-color: #EFEFEF;
    margin-left: auto;
    margin-right: auto;
    width: 55em;
}

p {
}

.position {
    font-style: italic;
}

.shadow {
    margin-left: 1em;
    text-shadow: #000000 1px 1px 1px;
}

.pic {
    float: right;
    margin-right: 7em;
    padding-left: 1em;
}
